extends ../layouts/main-layout.pug
block content
	main.main-body
		nav.main-body__nav
			h1(style = "text-align:center") Product Added
			form(action='/')
				button#submit_go_back(type='Submit') Go back
