.product_item{
	margin:2rem;
	padding:1rem;
	min-width: 20%;
	/* max-width: 50%; */
	min-height: 10rem;
	border: 3px solid #6199b9; 
	display: inline-block;
}
.product_item li{
	margin:1rem 0;
}

.product_title {
	text-align:center;
	margin:auto;
	/* border: 3px solid green; */	
}

.images{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}