extends ../layouts/main-layout.pug
block css
	link(rel='stylesheet' href='/css/cart-css.css')
block content
	main.main-body
		nav
			if products.length > 0
				h1 My items:
				hr
				each product in products
					nav#product_element
						form(action="/remove-from-cart" method="post")
							a#cart_title(href="/product-details/"+product.id) #{product.title}
							i#cart_price #{product.price}$
							input(type = "hidden" name  = 'id' value = product.id)
							button#cart_remove_button(type = "submit") Remove from cart	
					hr
				//- add links to the product by its id (that will go fetch his item detail)
				//- in front of it it should have the price
			else
				h1 No items in your cart yet ^-^